{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement{% endblock %}

{% block body %}
    <h1>Détails de l'événement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
            <tr>
                <th>Toute la journée</th>
                <td>{{ calendar.allDay ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ calendar.status }}</td>
            </tr>
            {% if calendar.commentaire %}
            <tr>
                <th>Commentaire de l'admin</th>
                <td>{{ calendar.commentaire }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_calendar_index') }}">Retour à la liste</a>
    <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">Modifier</a>
    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
